img {
    width: 400px;
}

#thirdDiv {
    width: 600px;
    height: 500px;
    background: rgb(56, 147, 197);
    padding: 50px;
    border-color: rgb(228, 13, 13);
    border-width: 5px;
    border-style: solid;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}